@model IEnumerable<ClassNoticias.Models.Noticiass>

@{
    ViewData["Title"] = "Index";
}

<h1>Pagina de Noticias</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriasNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPaisNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriasNavigation.IdCategorias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPaisNavigation.IdPais)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNoticias">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNoticias">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNoticias">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
